@charset "utf-8";
/* CSS Document */

.header{height:130px;background:url(../images/header_bg.png) no-repeat center top;}
.header .logo{float:left;padding-top:13px;}
.header .register{float:right;}
.header .register a{color:#323232;}
.header .register a:hover{color:#109363;}
.header .register span{padding:0px 5px;height:56px;line-height:56px;}
.header ul{padding:76px 0px 16px;}
.header ul li{float:left;line-height:37px;margin-right:5px;text-align:center;font-size:18px;width:144px;}
.header ul li a:hover{color:#109363;}
.header ul .baise a:hover{color:#fff;}
.header ul .baise a{color:#fff;}
.header ul li:nth-child(5){background-color:#109363;}

.banner{height:696px;background:url(../images/studentvi.jpg) no-repeat center;background-size:cover;}
.banner form{width:446px;height:640px;background:#0cb363;float:right;text-align:center;}
.banner form p{line-height:86px;height:89px;color:#fff;font-size:28px;}
.banner input{display:block;width:351px;padding-left:15px;height:48px;font-size:16px;border:1px solid #1b7449;margin-left:35px;margin-bottom:12px;}
.banner .time{text-align:center;}
.banner .submit{color:#0d7d47;letter-spacing:7px;font-size:16px;font-weight:400;width:368px;margin-top: 73px;border:0;}

.main{background:url(../images/studentshow.jpg) no-repeat center;height:1785px;margin-bottom:20px;}

.footer{height:272px;}
.footer .inner{text-align:center;}
.footer-top{height:150px;background:url(../images/footer_bg.png) no-repeat center top;border-bottom:1px solid #ccc;}
.footer-bot{height:122;}
.footer .inner ul{height:29px;padding-left:254px;padding-top:38px;}
.footer .inner li{float:left;font-size:12px;}
.footer .inner li a{line-height:29px;color:#848484;}
.footer .inner li a:hover{color:#109363;}
.footer .inner li span{padding:0px 10px;}
.footer .inner p{line-height:18px;color:#686868;font-size:12px;}

